img {
    max-width: 100%;
    min-width: 50%;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;

}

body {
    background-color: rgb(243, 243, 243);
    font-size: 10px;
    font-family: "Roboto Mono", monospace;
}

/* HEADER */
#hamburger-menu {
    /* display: none; */
    width: 300px;
    padding: 10px;
    background-color: #8a2be2;
    color: #f0f8ff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
  
  .nav-list {
    padding: 0;
  }
  
  .nav-list li {
    list-style: none;
    padding: 10px 0;
  }
  
  .nav-link {
    text-decoration: none;
    color: #f0f8ff;
    padding: 8px 12px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .btn-menu {
    padding: 8px 24px;
    background-color: #8a2be2;
    color: #f0f8ff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .btn-close {
    padding: 8px 24px;
    background-color: #f0f8ff;
    color: #8a2be2;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
/* header */
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: bisque;
    height: 70px;
    border-bottom: 5px solid rgb(253, 171, 71);


}

.menu .logo {
    font-size: 3em;
    color: black;
    float: right;
    margin-left: 50px;
    margin-top: 10px;

}

.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    font-size: 1.5em;
    text-align: center;
}

.menu ul a {
    color: blue;

}

nav ul li a {
    text-decoration: none;
    color: rgb(97, 203, 238);
    font-size: 15px;

}

nav ul li a:hover {
    text-decoration-color: underline;
    /* efek pada link jika disentuh */
    color: rgb(0, 0, 0);
    border-bottom: 3px solid black;
}

/* BODY */
.baju {
    height: 500px;
    background-size: cover;
    background-position: center;
    padding: 10px;
    width: 20%;
    min-width: 25px;
    box-shadow: 0 4px 4px #00a9ff;
    border-radius: 5px;
    background-color: rgb(216, 214, 211);
    margin-right: 15px;
    margin-bottom: 15px;

}

.baju:hover {
    box-shadow: 0 0 5px #00a9ff;
    position: relative;
    bottom: 4px;
}

.baru {
    height: 500px;
    background-size: cover;
    background-position: center;
    padding: 10px;
    /* width: 20%; */
    min-width: 25px;
    box-shadow: 0 4px 4px #00a9ff;
    border-radius: 5px;
    background-color: rgb(216, 214, 211);
    margin-right: 15px;
    margin-bottom: 15px;
}

.baru:hover {
    box-shadow: 0 0 5px #00a9ff;
    position: relative;
    bottom: 4px;
}

.sepatu {
    height: 500px;
    background-size: cover;
    background-position: center;
    padding: 10px;
    width: 20%;
    box-shadow: 0 4px 4px #00a9ff;
    border-radius: 5px;
    background-color: rgb(216, 214, 211);
    margin-right: 15px;
    margin-bottom: 20px;
}

.sepatu:hover {
    box-shadow: 0 0 4px #00a9ff;
    position: relative;
    bottom: 4px;
}

.topi {
    height: 500px;
    background-size: cover;
    background-position: center;
    padding: 10px;
    width: 20%;
    box-shadow: 0 4px 4px #00a9ff;
    border-radius: 5px;
    background-color: rgb(216, 214, 211);
    margin-right: 15px;
    margin-bottom: 15px;


}

.topi:hover {
    box-shadow: 0 0 4px #00a9ff;
    position: relative;
    bottom: 4px;
}

.topi img {
    min-width: 50%;
}

.tas {
    height: 500px;
    background-size: cover;
    background-position: center;
    padding: 10px;
    width: 20%;
    box-shadow: 0 4px 4px #00a9ff;
    border-radius: 10px;
    background-color: rgb(216, 214, 211);
    margin-right: 15px;
    margin-bottom: 15px;
}

.tas:hover {
    box-shadow: 0 0 4px #00a9ff;
    position: relative;
    bottom: 4px;
}

.Gambar {
    justify-content: center;
    margin: 0 auto;
    display: flex;
    /* margin-right: 15px; */
    flex-wrap: wrap;
    text-align: center;

}

.catalog {
    text-align: center;
    margin-top: 20px;
    color: rgb(12, 46, 240);
    font-size: 15px;
    margin-bottom: 10px;
}
.text{
    font-size: 15px;
}

#Price {
    background-color: #cdf5fd;
}

section {
    padding: 20px 0 40px;
    display: block;
}

.ulprice {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.h2price {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    color: rgb(12, 46, 240);
}

.product {
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
    color: rgb(12, 46, 240);
}

.table,
th,
td {
    border: 1px solid #00a9ff;
    padding: 10px;
}

.table,
th {
    background-color: #b5e6ff;
}

.table-product {
    margin: 0 auto;
}

.table,
img {
    width: 200px;
}

.tabel {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}
.tbody{
    font-size: 15px;
}

.label {
    display: flex;
    font-size: 20px;
}
.input{
    width: 10%;
    font-size: 10px;
    height: 30px;
}


.chek {
    display: flex;
}

.submit,
.cancel {
    width: 70px;
    height: 30px;
    font-size: 10px;
    padding: 5px;
    margin-right: 5px;
    
}

.send {
    display: flex;
    /* margin leftnya=================== */
}

.cancel:hover {
    background-color: #848788;

}

.form {
    background-color: #b5e6ff;
    padding: 60px 0 40px;
    margin-bottom: 20px;
    text-align: center;
}

.inputan {
    width: 50%;
    margin-left: 10%;
}

.input {
    width: 160%;
    font-size: 15px;
    height: 50px;
}

.Textarea1 {
    width: 160%;
}

.ceklis {
    font-size: 13px;
}

#exampleCheck1 {
    margin-left: 7%;
}

.labelup {
    margin-left: 3%;
    font-size: 13px;
}

.About h2 {
    text-align: center;
    color: rgb(0, 26, 255)
}

.submit {
    margin-left: 10%;
}

.About {
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
}

.paragraf {
    font-size: 18px;
}

.footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 20px;
}

span {
    font-size: 23px;
}
/* ============================================= */
@media screen and (max-width:1024px) {
    .menu {
        height: 100px;
    }

    .menu ul {
        display: flex;
        margin-top: 15px;
        margin-left: 100px;
    }

    nav ul li a {
        margin-right: 18px;
    }

    .text {
        font-size: 15px;
    }

    .ulprice {
        flex-wrap: wrap;
        font-size: 17px;
    }

    .input,
    .tbody {
        font-size: 15px;
    }
    .input{
        width: 500px;
    }
    .inputan{
        margin-left: 15%;
    }
    .Textarea1{
        width: 500px;
    }
    .label {
        font-size: 15px;
       
    }

    .labell {
        font-size: 20px;
        margin-left: 20px;
    }
    .chek{
        margin-bottom: 10px;
    }
    .ceklis{
        margin-left: 12%;
    }

    .paragraf {
        font-size: 15px;
        text-align: center;
    }
}
/* ======================= */
@media screen and (max-width:768px) {


    .logo {
        margin-bottom: 10px;
    }

    .ulprice {
        flex-wrap: wrap;
    }

    .ceklis {
        margin-left: 8%;
    }
    .inputan{
         margin-left: 70px !important;
    }
}
/* ========================= */
@media screen and (max-width:450px) {

    .baju,
    .sepatu,
    .topi,
    .tas .baru {
        width: 100%;
        margin-left: 15px;
    }

    .Gambar {
        justify-content: center;
        margin-right: 0;
        margin-top: 10px;

    }

    .logo {
        margin-bottom: 40px;
        margin-left: 10px !important;
    }

    .ulprice {
        flex-wrap: wrap;
    }

    .catalog h1 {
        font-size: 20px;
    }

    .cancel {
        width: 60px;
        height: 25px;
        font-size: 10px;
    }

    .submit {
        width: 60px;
        height: 25px;
        font-size: 10px;
    }

    .footer {
        margin-top: 10px;
        padding: 0;
    }

    .ceklis {
        margin-left: 10%;
    }


}
/* ============================ */
@media screen and (max-width:320px) {

    .logo h3 {
        align-items: center;
        margin-left: 10px !important;
        margin-top: 20px;
        font-size: 25px;
    }

    .menu {
        width: 800px;
    }

    .menu ul li{  
        margin-top: 50px;  }

    .menu ul li a {
        font-size: 11px;
        margin-right: 19px;
        font-size: 17px;
        margin-right: 10px;
    }

    .catalog {
        font-size: 20px;
        margin-left: 80%;
    }

    .Gambar {
        margin-top: 10px;
        margin-left: 50%;
        width: 100%;
    }

    #Price {
        /* margin-left: 52px; */
        width: 800px;
        margin: 20px;
        margin-left:0
    }

    .ulprice {
        flex-wrap: wrap;
    }

    #Product{
        margin-left: 35px;
    }

    #Product h2{
        margin-left: 80%;
    }
    .tabel {
        margin: 15px;
        width: 700px;
        height: 600px;
    }

    .input {
        width: 150%;
        margin-left: 0;
    }

    .inputan {
        margin-left: 15%;
    }

    .form {
        margin-left: 0px;
        width: 250%;
    }
}

.cancel {
    width: 60px;
    height: 25px;
    font-size: 10px;
}

.submit {
    width: 60px;
    height: 25px;
    font-size: 10px;
}

.footer {
    margin-top: 10px;
    padding: 0;
}

.ceklis {
    margin-left: 10%;
}
.send{
    margin-left: 20px;
}
.About{
  
}

/* ==================================================== */


/* ===================================================== */



/* CONTACT */
.username,
.image,
.phone,
.textarea {
    margin: 20px;
    margin-top: 10px;
    font-size: 13px;
    margin-left: 100px;
}

.cancel:hover {
    background-color: rgb(121, 121, 121);
    color: black;
}

.submit {
    background-color: #08a8f3;
    color: black;
    width: 25%;
    height: 30px;
}
.cancel{
    width: 25%;
    height: 30px;
}


/* ================================================================================= */

/* ====================================================================== */
